fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9
pdfplumber==0.11.0
langchain==0.2.6
langchain-community==0.2.6
langchain-groq==0.1.6
faiss-cpu==1.8.0
sentence-transformers==3.0.1
huggingface-hub==0.23.4
pydantic==2.7.4
python-dotenv==1.0.1
